
.email{padding-bottom: 150px;}
.policy_box{padding: 70px 45px; border:1px solid #ddd; margin-top: 45px; line-height: 1.8;}
.policy_box .tit {font-size: 18px; font-weight:bold;}
.policy_box .tit02{padding: 10px 0;}
.policy_box .tit02_bold {font-size:18px;}